<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title></title>
    </head>
    <body>
        <div class="container-fluid jumbotron text-center">
            <h1>The Best Library in the West</h1>
        </div>
        
    </body>
</html>
